* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: hsl(220, 15%, 55%);
}

.content {
    background: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    max-width: 20rem;
}

.img__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.0rem;
}

.img__container img {
    width: 18rem;
    border-radius: 5%;
}

.text__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    max-width: 19rem;
    padding-bottom: 1.4rem;
}

.title p {
    font-size: 1.5rem;
    font-family: Outfit, sans-serif;
    font-weight: 700;
}

.description {
    text-align: center;
    max-width: 16rem;
    padding-bottom: 1.6rem;
}

.description p {
    font-size: 1.0rem;
    font-family: Outfit, sans-serif;
    font-weight: 400;
}